* {
    box-sizing: border-box;
}

body {
    background-color: #fef9cf;
}

.nav {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    font-size: 50px;
    font-family: "Press Start 2P", cursive;
}

a {
    color: black;
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 {
    margin-top: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 a {
    font-size: 10em;
}

.hello {
    font-family: "Press Start 2P", cursive;
    font-size: 150px;
    height: 50%;
    width: 50%;
    margin: auto;
    text-align: center;
}

.typewriter p {
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 1px;
    animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}

.picture img {
    border-radius: 80%;
    ;
}

.about {
    margin-top: 10%;
    font-family: "Press Start 2P", cursive;
    font-size: 100px;
    text-align: center;
}

.grid-container {
    margin-top: 200px;
    width: 100%;
    height: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em 1em;
}

.card1,
.card2,
.card3,
.card4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2em;
    font-family: "Press Start 2P", cursive;
}

.proimg {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 11px 50px 11px 50px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 11px 50px 11px 50px rgba(0, 0, 0, 0);
    border-radius: 2;
    width: 60%;
    /* height: 100%; */
}

.proimg:hover {
    animation: bounce 0.5s;
}

@keyframes bounce {
    0%,
    20%,
    60%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-60px);
        transform: translateY(-60px);
    }
    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.contact {
    display: flex;
    flex-direction: column;
    width: 80vw;
    font-size: 3em;
    font-family: "Press Start 2P", cursive;
    margin-top: 10em;
}

.contact input,
textarea {
    width: 100%;
}

.myButton {
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    background-color: #eae0c2;
    border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #fef9cf;
    font-family: "Press Start 2P", cursive;
    ;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    width: 10em;
    height: 2em
}

.myButton:hover {
    background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
    background-color: #ccc2a6;
}

.myButton:active {
    position: relative;
    top: 1px;
}

@media(max-width: 768px) {
    .nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100px;
        font-size: 50px;
        font-family: "Press Start 2P", cursive;
    }
}